$color-background-blue: #f8fafb;
$color-border-blue: #d1dde2;
$color-action-blue: #00a6ff;
$color-button-blue: #dbe4eb;
$color-button-light-blue: #e6eef1;
$color-sidebar-grey: #323A3E;

$color-text-grey: #545454;
$color-icon-grey: #929faa;

$color-text-black: #202020;

$color-main-purple: #ad73ef;
$color-main-orange: #f07c00;
$color-main-orange2: #ff5900;
$color-main-green: #4cc159;
$color-main-pink: #ff487c;

$size-header-height: 70px;
$size-subheader-height: 90px;
$size-task-height: 60px;
$size-sidebar-width: 250px;
$size-sidebar-width-closed: 70px;
$size-today-width: 300px;
$size-day-width: 25%;
$size-projectbottom-height: 220px;