<div ng-controller="stationsController">
	
	<div class="c-textmessage c-textmessage--light" ng-if="stations == undefined">
		<span>Aucune boite n'est séléctionnée</span>
	</div>

	<div ng-repeat="station in stations track by $index" class="c-stations__itemcontainer" ng-class="{'isClone': station.isClone == true}" ng-if="station.role == 'slave'">
		<article class="c-stations__item" ng-drop="true" ng-drop-success="onDropComplete($data,$event,$index)">
			<div class="c-stations__itemcontent">
				<div class="c-stations__itemhover" ng-if="readOnly === undefined">
					<div class="c-stations__itemhoveraction" ng-click="showStation($index)">
						<i class="fa fa-pencil-square-o"></i>
					</div>
					<div class="c-stations__itemhoveraction" ng-click="cloneStation($index)" ng-if="station.isClone !== true">
						<i class="fa fa-clone"></i>
					</div>
					<div class="c-stations__itemhoveraction c-stations__itemhoveraction--disabled" ng-if="station.isClone === true">
						<i class="fa fa-clone"></i>
					</div>
					<div class="c-stations__itemhoveraction" ng-click="clearStation($index)">
						<i class="fa fa-trash"></i>
					</div>
				</div>
				<div class="c-stations__itemfrontface" ng-if="station.schema.path != undefined" style="background-image: url({{station.schema.path.indexOf('http://') != -1 ? station.schema.path : config.BASE_URL+config.SCHEMAS_PATH+station.schema.path}});">
					<div class="c-counter">{{station.id-1}}</div>
				</div>
				<div class="c-stations__itembackface">
					<div class="c-counter">{{station.id-1}}</div>
				</div>
			</div>
		</article>
	</div>

</div>